<div class="modal-body">
  <div class="nextcloud-file-name-modal">
    <h3>{{theme-i18n "modal.create_document.heading" type=model.fileTypeLabel}}</h3>
    
    <div class="control-group">
      <label class="control-label">{{theme-i18n "modal.create_document.filename_label"}}</label>
      <div class="controls">
        <input 
          type="text" 
          class="input-large" 
          value={{fileName}} 
          {{on "input" (action "updateFileName")}}
          {{on "keydown" (action "handleKeyDown")}}
          placeholder={{theme-i18n "modal.create_document.filename_placeholder"}}
          autofocus
        />
        <div class="control-instructions">
          {{theme-i18n "modal.create_document.extension_info" ext=model.fileType}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button 
    class="btn btn-primary" 
    {{action "confirm"}}
    disabled={{isLoading}}
  >
    {{#if isLoading}}
      {{theme-i18n "modal.create_document.creating"}}
    {{else}}
      {{theme-i18n "modal.create_document.confirm_button"}}
    {{/if}}
  </button>
  
  <button 
    class="btn" 
    {{action "cancel"}}
    disabled={{isLoading}}
  >
    {{theme-i18n "modal.create_document.cancel_button"}}
  </button>
</div>
